<%= form_for @entry, :url => update_entry_path , :method => 'put' do |f| %>

   <div>
     <%= f.text_field :name %>
   </div>
   <div>
     <%= f.text_field :entrybody %>
   </div>
  <%= f.submit %>
<% end %>

<%= link_to '戻る', root_path %>
