<%= form_for @entry,:url => {:action => 'create'} do |f| %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :entrybody%>
  </div>

  <div class="field">
  カテゴリ<br>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
    <%= f.submit %>
  <% end %>
