<p>
<strong>カテゴリ:</strong>
<%= @entry.category.name %>
</p>

<p>
<strong>Name:</strong>
<%= @entry.name %>
</p>

<p>
  <strong>本文:</strong>
  <%= @entry.entrybody %>
</p>
<%= link_to '戻る', root_path %>
<%= link_to '編集', edit_entry_path %>
<%= link_to '削除', destroy_entry_path, :method => 'delete', data: { confirm: '削除しますか?' } %>
